* {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
    outline: none;
    padding: 5px 10px;
    vertical-align: middle;
    transition: background-color 0.1s, border-color 0.1s, color 0.1s;
}

.btn:hover {
    background-color: var(--highlight);
    border-color: black;
    color: black;
}

.icon-btn {
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s;
}

.icon-btn:hover {
    color: var(--highlight);
}

.history {
    box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.65);
    background-color: #33333328;
    backdrop-filter: blur(30px) brightness(0.93);
    border-left: 1px solid #171717;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 20em;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.5s ease-in-out;
}

.history-open {
    left: calc(100% - 20em);
}

.history .title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.history-btn {
    font-size: 1.1em;
    position: absolute;
    bottom: 1.2rem;
    left: -2.5rem;
    transition: left 0.5s ease-in-out, color 0.1s;
}

.history-btn-open {
    left: 1.5rem;
}

.history-data {
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-y: auto;
}

.history-data .row {
    margin-bottom: 2rem;
}

.history-data .date {
    font-size: 0.8em;
}

.history-data .time {
    font-size: 2em;
}

.history-menu {
    text-align: right;
}

.record {
    font-size: 2vw;
}

.scramble {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5rem;
}

.scramble-wrapper {
    text-align: center;
}

.stopwatch {
    line-height: 1em;
    font-size: 20vw;
    transition: font-size 30ms ease-in-out;
}

.stopwatch-hold {
    font-size: 19vw;
}

.time-wrapper {
    text-align: center;
}

.viewport {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}